<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EgyptExcavation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light nightskyhead mb-3">
            <div class="container">

                <img class="logo" src="~/img/logo.png" alt="BYU Egypt Excavation Logo" width="60" />
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">The&nbsp;<span class="mummy">Mummy</span>&nbsp;Lode</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item ml-5">
                            <a class="nav-link bulge text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link bulge text-white" type="submit" asp-area="" asp-controller="Home" asp-action="Burials">Burials</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link bulge text-white" asp-area="" asp-controller="Home" asp-action="BurialRecord">Burial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link bulge text-white" asp-area="" asp-controller="Home" asp-action="TextileRecord">Textile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link bulge text-white" asp-area="" asp-controller="Home" asp-action="Legend">Legend</a>
                        </li>

                        <div class="dropdown show">
                            <a class="nav-link text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Uploads<span class="caret"></span>
                            </a>

                            <div class="dropdown-menu" style="background:#1b112c;" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item nav-link bulge text-white" asp-controller="Home" asp-action="UploadPhotos">Photos</a>
                                <a class="dropdown-item nav-link bulge text-white" asp-controller="Home" asp-action="UploadFieldNotes">Field Notes</a>
                                <a class="dropdown-item nav-link bulge text-white" asp-controller="Home" asp-action="UploadBoneBooks">Bone Books</a>
                            </div>
                        </div>

                        <div class="dropdown show">
                            <a class="nav-link text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Create<span class="caret"></span>
                            </a>

                            <div class="dropdown-menu" style="background:#1b112c;" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item nav-link bulge text-white" asp-controller="Home" asp-action="CreateBurial">Burial Record</a>
                                <a class="dropdown-item nav-link bulge text-white" asp-controller="Home" asp-action="CreateSample">Sample Record</a>
                                <a class="dropdown-item nav-link bulge text-white" asp-controller="Home" asp-action="CreateTextile">Textile Record</a>
                            </div>
                        </div>

                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <h1 class="display-4 text-center headr" align="center"><strong>@ViewBag.Header</strong></h1>
            @RenderBody()
        </main>
    </div>

    <footer class="nightskyfoot footer text-muted text-center">
        <div class="container text-white">
            &copy; 2021 &mdash; The&nbsp;<span class="mummy">Mummy</span>&nbsp;Lode &mdash; <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
