@{
    ViewBag.Header = "Welcome to the BYU Fag el-Gamous Cemetery Excavation Data Collection";
}

<div class="container">

    <div class="row">

        <div class="col-10 mx-auto" align="center">

            <div class="card nopacity shadow m-5 p-5">

                <h4 class="text-center" align="center"><strong>For All</strong></h4>
                <p>
                    This project aims to offer easy access to the data provided by BYU researchers involved in the
                    Excavation of the Fag el-Gamous Cemetery in Egypt so that researchers from other institutions as
                    well as the interested public can explore the findings of these dedicated historians, anthropologists
                    and archeologists.
                </p>
                <br />
                <h4 class="text-center" align="center"><strong>Easy Browsing</strong></h4>
                <p>
                    All users have the ability to view the data conveniently organized by burial records and can quickly
                    filter the records based on a wide variety of parameters to find what they are looking for.
                    Users can view extensive details for each individual burial record by clicking on the "Learn More" button.
                </p>
                <br />
                <h4 class="text-center" align="center"><strong>Optimized For Research</strong></h4>
                <p>
                    This web service was built in particular for the researchers who brought us this data. They have the
                    ability to edit and update all of the record data, including that of biological samples and textiles
                    collected during the excavation. This aids their ongoing efforts by allowing them to continue to
                    organize and analyze their findings.
                </p>
                <br />
                <h4 class="text-center" align="center"><strong>A Glimpse Into the Past</strong></h4>
                <p>
                    We hope that this application lets you catch a glimpse into ancient times and in so doing enlightens
                    your mind, expands your imagination, and enhances your understanding of historic cultures over time.
                </p>
                <br /><br />
                <button class="bttn-one" asp-action="Burials">Explore the Burial Records</button>

            </div>

        </div>

    </div>

</div>
