@{
    ViewBag.Header = "Upload Field Notes";
}

<div class="container">

    <div class="row">

        <div class="col-10 mx-auto" align="center">

            <div class="card nopacity shadow m-5 p-5">
                <h4 class="text-center" align="center"><strong>Select ID of associated burial.</strong></h4>

                <form action="" method="post"></form>

            </div>

        </div>

    </div>

</div>
